@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "_settings.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: $background-color;
  color: $main-font-color;
  font-family: Montserrat, sans-serif;

  .btns-wrapper {
    position: relative;

    .btn-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      &.hidden {
        display: none !important;
      }

      .btn1 {
        margin-bottom: 1rem;
      }
    }
  }

}